
.DS_Store
Basic_cpp.xcodeproj/project.pbxproj
Basic_cpp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Basic_cpp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Basic_cpp.xcodeproj/project.xcworkspace/xcuserdata/a.shyriauski.xcuserdatad/UserInterfaceState.xcuserstate
Basic_cpp.xcodeproj/xcuserdata/a.shyriauski.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Basic_cpp.xcodeproj/xcuserdata/a.shyriauski.xcuserdatad/xcschemes/xcschememanagement.plist
